.footer-menu-list {

  &__item {
    font-weight: 700;

    &:not(:last-child) {
      margin-bottom: 5px; 
    }

    &_submenu {
      font-weight: 400;
    }
  }

  &__item > a{
    font-family: 'Inter';
    color: $color-white;
    text-decoration: none;
    font-size: 16px;
    line-height: 34px;
  }

  @media screen and (max-width: $screen-xs) {
    &__item {
      font-weight: 400;
    }
  }
}