.bio-card {
  
  &__name {
    padding: 0;
    margin: 0;
  }

  &__desc {
    padding: 0;
    margin: 0;
  }

  &__image {
    img {
      max-width: 100%;
      width: 271px;
      display: block;
    }
  }

  &__rating {
    display: flex;
    align-items: center;
    padding: 30px 0 15px 0;
  }

  &__star {
    width: 14px;
    height: 14px;

    &_active > svg > path{
      fill: $color-outrageous-orange;
    }
  }

  &__name {
    font-family: 'Inter';
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    color: $color-mine-shaft;
    max-width: 270px;
    padding-bottom: 10px;
  }

  &__desc {
    font-family: 'Inter';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: $color-silver;
    max-width: 242px;
  }

  @media screen and (max-width: $screen-sm) { 
    &__image img {
      width: 200px;
      max-width: unset;
    }
  }
}