.bio-list {
  @include reset-list;
  display: flex;
  margin: 0 -16px;

  &__item {
    width: calc(100% / 4 - 32px);
    margin: 0 16px;
  }

  @media screen and (max-width: $screen-sm) { 
    overflow-x: auto;
    padding-bottom: 32px;
    
    &__item {
      width: calc(100% / 2 - 32px);
    }
  }
  
  @media screen and (max-width: $screen-xs) { 
    margin: 0 -12px;

    &__item {
      width: auto;
      margin: 0 12px;
    }
  }
}
