
.menu-list {
  @include reset-list;
  display: flex;
  flex-wrap: wrap;
  font-family: 'Inter';
  color: $color-white;

  &_white {
    color: $color-big-stone;
  }

  &__item {
    cursor: pointer;
    padding: 10px 0;
    color: inherit;
    
    &:not(:last-child) {
      margin-right: 33px;
    }

    &_more {
      display: flex;
      opacity: .7;
      align-items: center;
      width: 22px;
      justify-content: space-between;

      span {
        width: 5px;
        height: 5px;
        border-radius: 100%;
        display: inline-block;
        background-color: $color-white;
      }
    }
  }

  &__link{
    color: inherit;
    text-decoration: none;
    font-size: 15px;
    line-height: 18px;
  }

  &_white &__item {
    
    &_more > span { 
      background-color: $color-big-stone;
    }

    &_dropdown > svg {
      path {
        fill: $color-big-stone;
      }
    }
  }
}