.cookies {
  position: relative;
  z-index: 2;
  border-top: 1px solid rgba($color-white, 0.2);
  background-color: $color-big-stone;

  &__section {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__rules {
    display: flex;

    p {
      font-size: 14px;
      line-height: 17px;
      color: $color-white;
      font-family: 'Inter';
      margin-left: 24px;
      padding: 25px 0;
    }
  }

  &__btn-submit {
    background: none;
    outline: none;
    border: none;
    color: $color-white;
    text-transform: uppercase;
    font-weight: 700;
    font-family: 'Inter';
    line-height: 16px;
    font-size: 13px;
    opacity: .8;
    cursor: pointer;
  }
  
  @media screen and (max-width: $screen-sm) {
    &__rules {
      max-width: 470px;

      p {
        font-size: 11px;
        line-height: 18px;
      }
    }
  }
  
  @media screen and (max-width: $screen-xs) { 
    display: none;
  }
}