.header {
  display: flex;
  width: 100%;
  padding: 40px 0;
  z-index: 2;
  position: relative;
  align-items: center;
  justify-content: space-between;

  &__logo {
    height: 45px;
  }

  &__nav {
    margin-left: 30px;
  }

  &__actions {
    width: 100px;
    display: flex;
    justify-content: space-between;
    margin-left: 15px;
  }

  &__user, &__search, &__burger {
    width: 20px;
    height: 20px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: unset;
    outline: none;
    border: none;
    cursor: pointer;
  }
  
  &__user {
    background-image: url('../../../assets/images/icons/user-icon.svg');
  }

  &__search {
    background-image: url('../../../assets/images/icons/search-icon.svg');
  }

  &__burger {
    background-image: url('../../../assets/images/icons/burger-icon.svg');
  }

  @media screen and (max-width: $screen-sm) {
    &__nav {
      display: none;
    }
  }
}