.info-card {
  height: 193px;
  width: 50%;
  color: $color-white;
  padding: 20px 23px;
  box-sizing: border-box;

  &__title {
    font-size: 14px;
    line-height: 19px;
    font-weight: 700;
  }

  &_date, &_city {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }

  &__day {
    font-size: 80px;
    line-height: 96px;
    font-weight: 500;
  }

  &_city, &_horoscope {
    border: 1px solid rgba($color-white, 0.2);
    background-color: $color-big-stone;
  }

  &_date {
    background-color: $color-outrageous-orange;
    margin-right: -1px;
    margin-bottom: -1px;
  }

  &_rates {
    background-color: $color-pelorous;
    margin-top: -1px;
    margin-left: -1px;
  }

  &_horoscope {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: -1px;
  }

  &__weather-content {
    
    p {
      color: $color-white;
      opacity: 0.8;
      font-size: 12px;
      line-height: 18px;
      max-width: 103px;
    }

    span {
      font-size: 30px;
      line-height: 30px;
    }
  }

  &__zodiac {

    div {
      display: flex;
      align-items: center;
      margin-right: 6px;
      
      span {
        font-size: 13px;
        line-height: 16px;
        font-weight: 700;
        margin-right: 6px;
      }
    }
    
    p {
      font-size: 12px;
      line-height: 18px;
      font-weight: 400;
      max-width: 146px;
      opacity: .8;
    }
  }

  &_rates {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  @media screen and (max-width: $screen-sm) { 
    width: calc(100% / 4);
    height: 167px;
    padding: 20px 20px 16px 20px;

    &_date {
      order: 1;
      margin-bottom: 0;
      margin-right: 0;
    }

    &_city {
      order: 2;
    }

    &_rates {
      order: 3;
      margin-top: 0;
    }

    &_horoscope {
      order: 4;
      margin-top: 0;
      justify-content: unset;
    }

    &__day {
      font-size: 60px;
      line-height: 72px;
    }

    &__zodiac {
      margin-top: 30px;

      p {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        letter-spacing: 0.01em;
        margin: 12px 0 0 0;
        max-width: 136px;
      }
    }
  }

  @media screen and (max-width: $screen-xs) {
      width: 50%;
      padding: 12px 14px;
      height: 120px;

      &__day {
        font-size: 38px;
        line-height: 46px;
      }

      &__title {
        font-size: 12px;
        line-height: 20px;
      }

      &_date {
        order: 1;
        margin-bottom: -1px;
        margin-right: -1px;
      }

      &__weather-content {
        p {
          font-size: 10px;
          line-height: 14px;
        }

        img {
          width: 16px;
          height: 15px;
        }

        span {
          font-size: 17px;
          line-height: 17px;
        }
      }
  
      &_city {
        margin-left: -1px;
      }
  
      &_rates {
        order: 4;
        margin-top: 0;
      }
  
      &_horoscope {
        order: 3;
        margin-top: 0;
        justify-content: unset;
      }

      &__zodiac {
        margin-top: 18px;
        
        div > span {
          font-size: 10px;
          line-height: 16px;
        }

        div > img {
          width: 16px;
          height: 16px;
        }

        p {
          font-size: 10px;
          line-height: 14px;
        }
      }
    }
  }