@import './info-card';
@import './main-slider';
@import './rubrics-info';

.main-content {
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  padding: 155px 0 70px 0;

  &__list {
    @include reset-list;
    font-family: 'Inter';
    display: flex;
    flex-wrap: wrap;
    padding-left: 40px;
  }

  &__slider-wrapper{
    display: flex;
    justify-content: space-between;
    max-width: 780px;
    margin-bottom: 0;

    &.slick-dotted {
      margin-bottom: 0;
    }
  }

  @media screen and (max-width: $screen-lg) {
    flex-direction: column;

    &__list {
      padding-left: 0;
      margin-top: 40px;
    }

    &__slider-wrapper {
      max-width: 100%;
    }
  }

  @media screen and (max-width: $screen-sm) {
    &__list {
      margin-top: 100px;
    }
  }
}