.main-slide {
  position: relative;
  display: flex!important;

  &__dots {
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding: 0;
    margin: 24px 0 0 0;
    position: absolute;
    left: 0;
    bottom: 0;

    li {
      margin: 0 4px;
      width: 9px;
      height: 9px;
      border-radius: 100%;

      button {
        display: block;
        width: 9px;
        height: 9px;
        padding: 0;
        border: none;
        border-radius: 100%;
        border: 1px solid $color-white;
        background-color: unset;
        text-indent: -9999px;

        &:focus {
          outline: none;
        }
      }

      &.slick-active button {
        background-color:$color-white;
        position: relative;

        &:before {
          content: '';
          left: -3.5px;
          top: -4.5px;
          border-radius: 50%;
          width: 13.25px;
          height: 13.25px;
          position: absolute;
          border: 1px solid red;
        }
      }
    }
  }

  &__typography {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-right: 40px;
  }

  &__rubrics {
    display: flex;
  }

  &__title {
    overflow: hidden;
    width: 700px;
    direction: ltr;
    display: flex;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0%;

    h1 {
      font-size: 53px;
      line-height: 55px;
      font-weight: 400;
      letter-spacing: -0.02em;
      color: $color-white;
      font-family: 'Neue Machina';
      overflow:hidden;
      margin: 0;
      position: relative;
      cursor: pointer;
      
      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: $color-outrageous-orange;
        transform: translate3d(-100%,0,0) translate3d(-1px,0,0);
        transition: transform 0.6s;
        transition-timing-function: cubic-bezier(0.7,0,0.3,1);
      }

      &:hover {
        &::before {
          transform: translate3d(100%,0,0) translate3d(1px,0,0);
        }
      }
    }
  }
  
  @media screen and (max-width: $screen-lg) {
    justify-content: space-between;
  }

  @media screen and (max-width: $screen-sm) { 
    &__title {
      width: 445px;
      
      h1 {
        font-size: 43px;
        line-height: 45px;
      }
    }
  }
}
