.rates-list {
  @include reset-list;

  &__item {
    display: flex;
    justify-content: space-between;
    padding: 9px 0;
    align-items: center;

    &:not(:last-child) {
      border-bottom: 1px solid rgba($color-white, .4);
    }
  }

  &__name {
    font-weight: 700;
    line-height: 13px;
    font-size: 13px;
  }

  &__value {
    font-size: 13px;
    font-weight: 400;
  }

  @media screen and (max-width: $screen-xs) { 
    
    &__item {
      padding: 2px 0;
    }

    &__name {
      font-size: 10px;
      line-height: 10px;
    }

    &__value {
      font-size: 10px;
      line-height: 20px;
    }
  }
}