.rubrics-info {
  display: flex;
  flex-direction: column;
  margin:0 20px 0 10px;
  
  h5, p {
    margin: 0;
    padding: 0;
    color: $color-white;
    font-family: 'Inter';
  }

  h5 { 
    font-size: 11px;
    line-height: 20px;
    letter-spacing: 0.08em;
    font-weight: 700;
  }

  p {
    font-size: 14px;
    line-height: 20px;
    color: rgba($color-white, .8);
  }

}