.special-nav-list {
  @include reset-list;
  display: flex;
  align-items: center;
  font-family: 'Inter';
  border-radius: 64px;
  position: relative;
  margin: 0 15px 0 0;
  
  &::after {
    content: '';
    width: 120px;
    right: -3px;
    top: 50%;
    height: 100%;
    position: absolute;
    transform: translateY(-50%);
    border-right: 1px solid rgba($color-silver, .3);
    background: linear-gradient(270deg, rgba(17,33,58,1) 50%, rgba(17,33,58,0) 100%);
  }

  &__item {
    &:not(:last-child) {
      margin-right: 35px;
    }
  }

  &__button {
    white-space: nowrap;
    font-weight: 500;
    font-size: 19px;
    line-height: 23px;
    border: none;
    outline: none;
    background: none;
    color: $color-white;
    padding: 0;

    &_active {
      padding: 10px 20px;
      background-color: $color-white;
      border-radius: 64px;
      color: $color-big-stone;
    }
  }

  @media screen and (max-width: $screen-sm) {
    &::after {
      border-right: none;
      display: none;
    }
  }

  @media screen and (max-width: $screen-xs) {
    &__button {
      font-size: 13px;
      line-height: 16px;

      &_active {
        padding: 8px 10px;
      }
    }
  }
}