@import './components/ads/ads-nav-list';
@import './components/ads/ads-card';
@import './components/ads/ads-list';

.ads-section {
  padding-top: 115px;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 70px;
  }

  &__title {
    font-family: 'Neue Machina';
    font-weight: 400;
    font-size: 53px;
    line-height: 51px;
    margin: 0;
  }

  &__content {
    display: flex;
    justify-content: space-between;
  }

  &__banner {
    
    &_desktop {
      display: block;
    }

    &_tablet {
      display: none;
    }

    &_mobile {
      display: none;
    }
  }

  @media screen and (max-width: $screen-sm) {
    padding-top: 56px;
    padding-bottom: 70px;
    
    &__banner {

      &_desktop {
        display: none;
      }
  
      &_tablet {
        display: block;
      }
    }

    &__header {
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      margin-bottom: 50px;
      padding-bottom: 0;
      position: relative;
    }

    &__more {
      position: absolute;
      right: 0;
      width: 38px;
      height: 30px;
      top: 10px;

      img {
        display: block;
        width: 100%;
      }
    }

    &__title {
      font-size: 43px;
      line-height: 41px;
      padding-bottom: 40px;
    }
  }
  
  @media screen and (max-width: $screen-xs) {
    padding-bottom: 40px;

    &__content {
      flex-direction: column;
    }
    
    &__header {
      margin-bottom: 15px;
    }

    &__nav {
      width: 100%;
      overflow-x: auto;
    }

    &__title {
      font-size: 23px;
      line-height: 23px;
      padding-bottom: 20px;
    }

    &__more {
      width: 22px;
      height: 17px;
    }

    &__banner {
      
      &_tablet {
        display: none;
      }
  
      &_mobile {
        display: flex;
        justify-content: center;
      }
    }
  }
}

