@import './components/bio/bio-list';
@import './components/bio/bio-card';

.bio-section {
  padding: 90px 0;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 60px;
  }
  
  &__title {
    font-size: 53px;
    line-height: 51px;
    margin: 0;
    padding: 0;
    font-weight: 400;
    font-family: 'Neue Machina';
    color: $color-big-stone;
  }

  &__content {
    padding-bottom: 110px;
  }

  &__banner {
    justify-content: center;

    &_desktop {
      display: flex;
      max-width: 1120px;
    }
    
    &_tablet {
      display: none;
      max-width: 647px;
    }

    &_mobile {
      display: none;
    }
  }
  @media screen and (max-width: $screen-sm) {
    padding: 57px 0;

    &__title {
      font-size: 43px;
      font-size: 41px;
    }

    &__more {
      width: 38px;
      height: 30px;

      img {
        display: block;
        width: 100%;
      }
    }

    &__banner {

      &_tablet {
        display: flex;
      }
  
      &_desktop {
        display: none;
      }
    }

    &__content {
      padding-bottom: 70px;
    }
  }

  @media screen and (max-width: $screen-xs) {
    padding: 28px 0;

    &__header {
      padding-bottom: 20px;
    }

    &__more {
      width: 22px;
      height: 17px;
    }

    &__content {
      padding-bottom: 40px;
    }

    &__title {
      font-size: 23px;
      line-height: 23px;
    }

    &__banner {

      &_tablet {
        display: none;
      }
  
      &_mobile {
        display: flex;
      }
    }
  }
}