@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

@font-face {
  font-family: 'Neue Machina';
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url('../../assets/fonts/neue_machina/NeueMachina-Regular.woff2') format('woff2'),
  url('../../assets/fonts/neue_machina/NeueMachina-Regular.woff') format('woff')
}
