@import './components/footer/footer-social-list';
@import './components/footer/footer-menu-list';

.footer-section {
  padding: 60px 0 48px 0;
  background-color: $color-big-stone;
  
  &__logo {
    padding-bottom: 30px;
  }

  &__desc {
    max-width: 410px;
    color: $color-white;
    opacity: .6;
    font-family: 'Inter';
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
  }

  &__top {
    padding-bottom: 50px;
    border-bottom: 1px solid rgba($color-white, 0.1);
    display: flex;
    justify-content: space-between;
  }

  &__contacts {
    width: 50%;

    p {
      margin: 0;
      padding: 0;
      max-width: 410px;
      color: $color-white;
      opacity: .6;
      font-family: 'Inter';
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 18px;
    }
  }

  &__bottom {
    padding-top: 40px;
    display: flex;
    justify-content: space-between;
    align-self: flex-start;
  }

  &__legal-wrapper {
    width: 50%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }

  &__legal-text {
    max-width: 432px;

    p {
      color: $color-white;
      opacity: .6;
      font-family: 'Inter';
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 18px;
      margin: 0;
    }
  }

  &__row {
    display: flex;
    width: 50%;
    justify-content: space-between;
  }

  &__col {
    width: calc(100% / 3 - 32px);
  }

  ul {
    @include reset-list;
  }
}