@import './components/menu-list/menu-list';

.header {
    background: unset;
    position: absolute;
    left: 0;
    z-index: 10;
    top: 0;
    width: 100%;
    height: 85px;
    display: flex;
  
  &__container {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    padding: 0 120px;
    box-sizing: border-box;
    justify-content: space-between;
  }

  &__logo, &__logo-black  {
    height: 45px;
  }

  &__logo-black {
    display: none;
  }

  &__nav {
    margin-left: 30px;
    color: $color-white;
  }

  &__actions {
    width: 100px;
    display: flex;
    margin-left: 15px;
    justify-content: flex-end;
  }

  &__user, &__search, &__burger {
    width: 20px;
    height: 20px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: unset;
    outline: none;
    border: none;
    cursor: pointer;
    margin-right: 15px;
  }

  &__burger {
    display: none;
  }

  &_fixed {
    position: fixed;
  }

  &_white {
    background-color: $color-white;
  }

  &_white &__logo-black {
    display: block;
  }

  &_white &__logo {
    display: none;
  }

  &_white &__nav {
    color: $color-big-stone;
  }

  &_white &__user, 
  &_white &__search, 
  &_white &__mobile {
    svg > path{
      fill: $color-big-stone;
    }
  }

  @media screen and (max-width: $screen-ssm) {
    &__container {
      padding: 0 80px;
    }
  }

  @media screen and (max-width: $screen-sm) {
    
    &__nav {
      display: none;
    }

    &__container {
      padding: 0 60px;
    }

    &__burger {
      display: block;
    }
  }

  @media screen and (max-width: $screen-xs) {
    &__container {
      max-width: 540px;
      padding: 0 24px; 
    }
  }
}