@import './components/main-section/main-content';
@import './components/main-section/rates-list';
@import './components/main-section/cookies';

.main-section {
  background-color: $color-big-stone;
  position: relative;

  &::after {
    content:'';
    position: absolute;
    background-image: linear-gradient(270deg, #11213A 10.17%, rgba(17, 33, 58, 0.65) 96.99%);
    width: 65%;
    height: 100%;
    top: 0;
    right: 0;
    left: auto;
    z-index: 1;

  }

  &::before {
    content: '';
    position: absolute;
    z-index: 1;
    background-size: cover;
    background-repeat: no-repeat;
    width: 50%;
    height: 100%;
    background-image: url('../../assets/images/bg/main-bg.png');
  }

  @media screen and (max-width: $screen-sm) {
    &::after {
      width: 100%;
      height: 45%;
      bottom: 0;
      top: auto;
      background-image: linear-gradient(0deg, #11213A 78.17%, rgba(17, 33, 58, 0) 96.99%);
    }
    
    &::before {
      width: 100%;
      height: 100%;
    }
  }
}