@import './components/news-world-section/news-card';
@import './components/news-world-section/news-list';

.news-world-section {
  position: relative;
  padding: 56px 0 92px 0;
  background-color: rgba($color-botticelli, .8);

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 40px;
  }

  &__title {
    font-size: 38px;
    line-height: 37px;
    margin: 0;
    padding: 0;
    font-family: 'Neue Machina';
    color: $color-big-stone;
    display: flex;
    align-items: center;

    img {
      margin: 0 10px;
    }

  }

  &__content {
    padding:44px 0 101px 0;
  }

  &__more-button {
    display: block;
    background: none;
    outline: none;
    border: none;
    color: $color-regent-gray;
    font-size: 17px;
    line-height: 21px;
    font-weight: 600;
    font-family: 'Inter';
    cursor: pointer;
    margin: 0 auto;
  }

  &__banner {
    &_desktop {
      max-width: 1120px;
      display: block;
      
      img {
        width: 100%;
      }
    }
    
    &_tablet {
      display: none;
    }

    &_mobile {
      display: none;
    }
  }
  
  @media screen and (max-width: $screen-sm) {
    background-color: $color-catskill-white;
    padding-top: 34px;

    &__banner {

      &_tablet {
        display: block;
      }
  
      &_desktop {
        display: none;
      }
    }

    &__header {
      padding-bottom: 0;
    }

    &__more {
      width: 38px;
      height: 30px;
      
      img {
        display: block;
        width: 100%;
      }
    }
  }

  @media screen and (max-width: $screen-xs) {
    padding: 40px 0 0 0;
    background-color: $color-white;

    &__title {
      font-size: 20px;
      line-height: 19px;

      img {
        width: 22px;
        height: 22px;
        margin: 0 5px;
      }
    }

    &__more {
      width: 22px;
      height: 17px;
    }

    &__content {
      padding-bottom: 41px;
    }

    &__banner {

      &_tablet {
        display: none;
      }
  
      &_mobile {
        display: flex;
        justify-content: center;
      }
    }
  }
}