@import './components/news-section/news-nav-list';
@import './components/news-section/news-list';
@import './components/news-section/news-card';

.news-section {
  position: relative;
  padding-top: 56px;
  background-color: rgba($color-botticelli, .8);

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 40px;
  }

  &__title {
    font-size: 53px;
    line-height: 51px;
    margin: 0;
    padding: 0;
    font-family: 'Neue Machina';
    color: $color-big-stone;
  }

  &__content {
    padding:44px 0;
  }

  &__more-button {
    display: block;
    background: none;
    outline: none;
    border: none;
    color: $color-regent-gray;
    font-size: 17px;
    line-height: 21px;
    font-weight: 600;
    font-family: 'Inter';
    cursor: pointer;
    margin: 0 auto;
  }

  @media screen and (max-width: $screen-sm) {
    background-color: $color-catskill-white;
    padding-top: 50px;
    padding-bottom: 34px; 

    &__content {
      padding-top: 30px;
    }

    &__title {
      font-size: 43px;
    }

    &__more {
      width: 38px;
      height: 30px;

      img {
        display: block;
        width: 100%;
      }
    }
  }

  @media screen and (max-width: $screen-xs) {
    background-color: $color-white;
    padding-top: 28px;
    padding-bottom: 12px;

    &__title {
      font-size: 23px;
      line-height: 23px;
    }

    &__content {
      padding-bottom: 12px;
    }

    &__header {
      padding-bottom: 20px;
    }

    &__more {
      width: 22px;
      height: 17px;
    }

    &__more-button {
      width: 100%;
      font-size: 14px;
      line-height: 17px;
      background-color: $color-catskill-white;
      height: 43px;
      border-radius: 2px;
    }
  }
}