@import './components/special/special-nav-list';
@import './components/special/special-slide';

.special-section {
  background-color: $color-big-stone;
  padding: 90px 0 0 0;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap
  }

  &__title {
    font-family: 'Neue Machina';
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 29px;
    color: $color-white;
    margin-right: 78px;
  }

  &__show-all-link {
    
    &_mobile {
      display: none;
    }
     
    &_desktop {
      font-family: 'Inter';
      color: $color-white;
      font-weight: 500;
      font-size: 19px;
      line-height: 23px;
      text-decoration: none;
      white-space: nowrap;
      padding: 20px 0;
    }
  }

  &__content-wrapper {
    display: flex;
    justify-content: space-between;
    padding-top: 86px;
    align-items: flex-end;
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 820px;
    padding-right: 40px;
  }

  &__desc {
    font-family: 'Neue Machina';
    font-style: normal;
    font-weight: normal;
    font-size: 115px;
    line-height: 84.9%;
    color: $color-white;
    border-bottom: 1px solid rgba($color-white, .2);
    padding-bottom: 70px;
    
    p {
      margin: 0;
    }

    span {
      color: $color-pelorous;
    }
  }

  &__bottom-text {
    display: flex;
    justify-content: space-between;
    padding: 40px 0;
    align-items: center;
    font-family: 'Inter';
    font-size: 19px;
    line-height: 28px;

    p {
      font-style: normal;
      font-weight: 500;
      color: $color-white;
    }

    span {
      font-weight: 400;
      color: $color-silver;
    }
  }

  &__image {
    height: 516px;
    width: 310px;
    
    img {
      height: 516px;
      width: 310px;
      display: block;
    }
  }

  @media screen and (max-width: $screen-ssm) {
    &__header {
      justify-content: flex-start;
    } 
  }

  @media screen and (max-width: $screen-sm) {
    padding: 7px 0 0 0;

    &__title {
      display: flex;
      justify-content: space-between;
      margin-right: 0;
      width: 100%;
      font-size: 43px;
      line-height: 42px;
    }

    &__nav {
      overflow-x: auto;
      padding-bottom: 20px;
      width: 100%;
    }
    
    &__desc {
      font-size: 57px;
      line-height: 54px;
    }

    &__bottom-text {
      padding: 30px 0;
      font-size: 17px;
      line-height: 24px;
      
      p {
        max-width: 228px;
      }
    }

    &__show-all-link {
      
      svg {
        width: 38px;
        height: 30px;
      }

      &_mobile {
        display: block;
      }

      &_desktop {
        display: none;
      }
    }

    &__image {
      height: 355px;
      width: 200px;
      
      img {
        height: 355px;
        width: 200px;
      }
    }
  }
  
  @media screen and (max-width: $screen-xs) {
    
    &__title {
      margin: 38px 0 24px 0;
      font-size: 23px;
      line-height: 23px;
    }

    &__content-wrapper {
      flex-direction: column;
      align-items: flex-start;
    }
    
    &__content {
      order: 2;
    }

    &__image {
      width: 100%;
      height: 180px; 
      order: 1;
      padding-bottom: 27px;

      img {
        width: 100%;
        object-fit: cover;
        height: 100%;
      }
    }

    &__show-all-link {
      svg {
        width: 22px;
        height: 17px;
      }
    }
    
    &__desc {
      font-size: 36px;
      line-height: 34px;
      color: $color-white;
      max-width: 272px;
      padding-bottom: 0;
      border-bottom: none;
    }

    &__bottom-text {
      padding: 13px 0 28px 0;
      flex-direction: column;
      align-items: flex-start;
      
      p {
        font-size: 14px;
        line-height: 22px;
      }

      span {
        font-size: 12px;
        line-height: 20px;
      }
    }

    &__content-wrapper {
      padding-top: 0;
    }
  }
}