$max-width-container: 1440px;


/* colors */

$color-big-stone: #11213A;
$color-white: #FFFFFF;
$color-outrageous-orange: #FF572E;
$color-pelorous: #45B1BF;
$color-botticelli: #D6E2ED;
$color-regent-gray: #89919E;
$color-outrageous-orange: #FF572E;
$color-silver: #C4C4C4;
$color-mine-shaft: #333333;
$color-catskill-white: #EFF3F8;

/* media breakpoints */

$screen-xxs: 320px;
$screen-xs: 767px;
$screen-sm: 1024px;
$screen-ssm: 1140px;
$screen-md: 1280px;
$screen-lg: 1366px;