@import '~normalize.css';
@import './fonts';
@import './variables';
@import './mixins';


/**
* vendors
*/
@import "./vendors/slick/slick.scss";
@import "./vendors/slick/slick-theme.scss";


/**
* sections style
*/
@import './header';
@import './main-section';
@import './news';
@import './news-world';
@import './ads';
@import './special';
@import './bio';
@import './footer';


main {
  width: 100%;
}

.container {
  max-width: $max-width-container;
  padding: 0 120px;
  margin: 0 auto;
  height: 100%;
  box-sizing: border-box;
  
  @media screen and (max-width: $screen-ssm) {
    padding: 0 80px
  }

  @media screen and (max-width: $screen-sm) { 
    padding: 0 60px;
  }

  @media screen and (max-width: $screen-xs) {
    padding: 0 24px; 
    max-width: 540px;
  }
}

.rules-link {
  text-decoration: none;
  color: $color-pelorous;
}