.news-world-list {
  @include reset-list;
  display: flex;
  margin: 0 -20px;

  &__item {
    width: calc(100% / 3 - 20px);
    display: flex;
    align-items: stretch;
    margin: 20px;
  }

  @media screen and (max-width: $screen-sm) {
    flex-wrap: wrap;
    margin: -20px;
    
    &__item {
      width: calc(100% / 2 - 40px);
      margin: 20px;
    }
  }
  
  @media screen and (max-width: $screen-xs) {
    flex-direction: column;
    margin: 0;
    
    &__item {
      width: 100%;
      margin: 0 0 16px 0;
    }
  }
}