.news-world-card {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  cursor: pointer;

  &__image {
    position: relative;

    &::before {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background-color: $color-outrageous-orange;
      opacity: 0;
      transition: opacity .4s ease-in-out;
    }
  }

  &__image > img{
    max-width: 100%;
    object-fit: cover;
    width: 100%;
    display: block;
    height: 245px;
  }

  &__body, &__footer {
    font-family: 'Inter';
    background-color: $color-big-stone;
  }

  &__body {
    min-height: 136px;
    padding: 20px 24px;
    flex: 1 0 auto;
  }

  &__desc {
    font-size: 20px;
    line-height: 26px;
    font-weight: 600;
    color: $color-white;
    max-width: 335px;
    margin: 0;
    padding: 18px 0 0 0;
    flex: 1 0 auto;
  }

  &__footer {
    flex: 0 0 auto;
    padding: 0 24px 20px 24px;
    
    span {
      color: $color-regent-gray;
      font-weight: 400;
      line-height: 20px;
      font-size: 13px;
    }
    
  }

  &:hover > &__footer > span, 
  &:hover > &__body > &__desc {
    transition: color .4s ease-in-out;
    color: $color-outrageous-orange;
  }

  &:hover > &__header > &__image {
    &::before {
      opacity: .65;
    }  
  }

  @media screen and (max-width: $screen-sm) {
    
    &__body {
      min-height: unset;
    }

    &__image > img{
      height: 198px;
    }

    &__desc {
      font-size: 16px;
      line-height: 22px;
    }
  }

  @media screen and (max-width: $screen-xs) {
    &__desc {
      padding-top: 0;
    }
  }
}