.ads-card {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  margin-bottom: 64px;

  &__image > img{
    max-width: 100%;
    width: 100%;
    display: block;
  }

  &__date {
    font-family: 'Inter';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    padding-bottom: 18px;
    display: block;
    color: $color-regent-gray;
  }

  &__body, &__footer {
    font-family: 'Inter';
    background-color: $color-white;
  }

  &__body {
    padding-top: 20px;
    flex: 1 0 auto;
  }

  &__title {
    color: $color-big-stone;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    margin: 0;
    padding: 0;
  }

  &__desc {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: $color-big-stone;
    max-width: 264px;
    margin: 0;
    flex: 1 0 auto;
  }

  &__price {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    padding-top: 16px;
    display: block;
    color: $color-outrageous-orange;
  }

  &_banner {
    background-color: $color-catskill-white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
  }

  &_banner &__footer {
    background-color: $color-catskill-white;
    padding-top: 20px;
  }

  &_banner &__header {
    p {
      font-family: 'Inter';
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 24px;
      margin: 0;
      color: $color-big-stone;
      padding: 23px 0 0 0; 
    }
  }

  &__link {
    text-decoration: none;
    color: $color-big-stone;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 24px;
  }

  @media screen and (max-width: $screen-xs) { 
    margin-bottom: 25px;

    &__date {
      font-size: 12px;
      line-height: 20px;
      padding-bottom: 14px;
    }

    &__title {
      font-size: 16px;
      line-height: 23px;
    }

    &__desc {
      font-size: 14px;
      line-height: 22px;
    }

    &__image > img {
      max-width: unset;
      width: 200px;
      display: block;
    }
  }
}