.ads-list {
  @include reset-list;
  display: flex;
  flex-wrap: wrap;
  padding-right: 60px;
  margin: 0 -16px;

  &__item {
    width: calc(100% / 3 - 32px);
    display: flex;
    margin: 0 16px 0 16px;
  }

  &_hidden {
    display: none;
  }

  @media screen and (max-width: $screen-sm) {
    padding-right: 32px;
    margin: 0 -12px;
    
    &__item {
      width: calc(100% / 2 - 24px);
      margin: 0 12px 0 12px;
    }
  }

  @media screen and (max-width: $screen-xs) {
    overflow-x: auto;
    flex-wrap: nowrap;
    padding: 0;
    
    &__item {
      width: auto;
    }
  }
}