.ads-nav-list {
  @include reset-list;
  display: flex;
  font-family: 'Inter';
  align-items: center;

  &__item {
    width: auto;
    margin-right: 35px;
  }

  &__button {
    background: none;
    outline: none;
    border: none;
    font-size: 19px;
    line-height: 23px;
    cursor: pointer;

    &_active {
      padding: 10px 20px;
      background-color: $color-big-stone;
      border-radius: 64px;
      color: $color-white;
    }
  }
  
  @media screen and (max-width: $screen-xs) {
    padding-bottom: 15px;
    
    &__item {
      margin-right: 15px;
    }

    &__button {
      font-size: 12px;
      line-height: 15px;
    }
  }
}