@import './white-menu-list';

.fixed-header {
    background: $color-white;
    position: fixed;
    left: 50%;
    z-index: 2000;
    top: 0;
    transform: translateX(-50%);
    width: 100%;
    height: 85px;
    display: flex;
    box-shadow: 0px 1px 13px rgba(0, 0, 0, 0.06);
  
  &__container {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    height: 45px;
  }

  &__nav {
    margin-left: 30px;
  }

  &__actions {
    width: 100px;
    display: flex;
    justify-content: space-between;
    margin-left: 15px;
  }

  &__user, &__search {
    width: 20px;
    height: 20px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: unset;
    outline: none;
    border: none;
    cursor: pointer;
  }

  &__user {
    background-image: url('../../../assets/images/icons/user-icon-dark.svg');
  }

  &__search {
    background-image: url('../../../assets/images/icons/search-icon-dark.svg');
  }

  &__burger {
    background-image: url('../../../assets/images/icons/burger-icon-dark.svg');
  }

  &_hide {
    display: none;
  }

  @media screen and (max-width: $screen-sm) {
    &__nav {
      display: none;
    }
  }
}