
.white-menu-list {
  @include reset-list;
  display: flex;
  flex-wrap: wrap;
  font-family: 'Inter';

  &__item {
    cursor: pointer;
    padding: 10px 0;
    
    &:not(:last-child) {
      margin-right: 33px;
    }

    &_dropdown {
      position: relative;

      &::after {
        content: '';
        position: absolute;
        background-image: url('../../../assets/images/dropdown-dark.svg');
        width: 8px;
        height: 6px;
        top: 50%;
        transform: translateY(-50%);
        right: -15px;
        cursor: pointer;
      }
    }

    &_more {
      display: flex;
      opacity: .7;
      align-items: center;
      width: 22px;
      justify-content: space-between;

      span {
        width: 5px;
        height: 5px;
        border-radius: 100%;
        display: inline-block;
        background-color: $color-big-stone;
      }
    }
  }

  &__link{
    color: $color-big-stone;
    text-decoration: none;
    font-size: 15px;
    line-height: 18px;
  }
}