.news-card {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;

  &__image > img{
    max-width: 100%;
    object-fit: cover;
    width: 100%;
    display: block;
  }

  &__body, &__footer {
    font-family: 'Inter';
    
    background-color: $color-white;
  }

  &__body {
    min-height: 136px;
    padding: 20px 24px;
    flex: 1 0 auto;
  }

  &__title {
    color: $color-pelorous;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0.08em;
    margin: 0;
    padding: 0;
  }

  &__desc {
    font-size: 20px;
    line-height: 26px;
    font-weight: 600;
    color: $color-big-stone;
    max-width: 335px;
    margin: 0;
    padding: 18px 0 0 0;
    flex: 1 0 auto;
    
  }

  &__footer {
    flex: 0 0 auto;
    padding: 0 24px 20px 24px;
    
    span {
      color: $color-regent-gray;
      font-weight: 400;
      line-height: 20px;
      font-size: 13px;
    }
    
  }

  @media screen and (max-width: $screen-sm) { 
    &__body {
      min-height: unset;
    }

    &__desc {
      font-size: 16px;
      line-height: 22px;
    }
  }

}