.news-nav-list {
  @include reset-list;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;

  &__item {
    cursor: pointer;
    font-weight: 500;
    color: $color-big-stone;
    font-size: 19px;
    line-height: 23px;
    font-family: 'Inter';
  }

  &__button {
    padding: 10px 20px;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    color: inherit;
    white-space: nowrap;
    
    &_active {
      background-color: $color-pelorous;
      border-radius: 64px;
      color: $color-white;
    }
  }

  @media screen and (max-width: $screen-lg) {
    justify-content: flex-start;
  }

  @media screen and (max-width: $screen-sm) {
    flex-wrap: nowrap;
    overflow-x: auto;
    padding-bottom: 30px;
  }

  @media screen and (max-width: $screen-xs) {
    padding-bottom: 0;
    
    &__button {
      padding: 8px 10px;
    }
    
    &__item {
      font-size: 13px;
      line-height: 16px;
    }
  }
}